.productSection {
    background-color: #FDD7AA;
    padding: 50px;
    text-align: center;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .productList {
    display: flex;
    flex-wrap: wrap; /* Cho phép xuống dòng nếu quá nhiều sản phẩm */
    justify-content: center;
    gap: 20px;
  }
  
  .productCard {
    padding: 10px;
    text-align: left;
    width: 400px; /* Giữ kích thước sản phẩm */
    height: auto;
    
  }
  
  .productImage {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  
  .productName {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #FF5722;
    text-decoration: none;
  }
  
  .productPrice {
    font-size: 14px;
    color: black;
  }
  
  .shopButton {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px;
  }
  
  .shopButton:hover {
    background: black;
    color: white;
  }
  